# Python
__pycache__/
*.pyc
venv/

# Node
node_modules/
dist/

# Downloads
downloads/
backend/downloads/

# Secrets
cookies.txt
backend/cookies.txt
backend/instagram_cookies.txt
backend/youtube_cookies.txt
.env

# Logs
logs/
backend/logs/

# OS
.DS_Store
Thumbs.db
